<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ostermark Paint Scheme</title>
</head>

<body>
  <h1>Ostermark Paint Guide:</h1>
  <div>
    <h1>Paints Required:</h1>
    <ul>
      <li>Chainmail Silver</li>
      <li>Mithril Silver</li>
      <li>Badab Black</li>
      <li>Tin-Bitz</li>
      <li>Dwarf Bronze</li>
      <li>Lich Purple</li>
      <li>Tau Sept Ochre</li>
      <li>Vomit Brown</li>
      <li>Bleached bone</li>
      <li>Warlock Purple</li>
      <li>Snakebite leather</li>
      <li>Devlin Mud</li>
      <li>Dark Flesh</li>
      <li>Dwarf Flesh</li>
      <li>Elf Flesh</li>
      <li>Enchanted Blue</li>
      <li>Asriman Blue</li>
      <li>Ice Blue</li>
      <li>Skull white</li>
    </ul>
  </div>
</body>

</html>