<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/color-container.css">
<link rel="stylesheet" href="/css/colors.css">
</head>

<body>
  <%- include('./partials/navigation.ejs') %>
  <h1>Ostermark Paint Guide:</h1>
  <%- include('./partials/color-palette.ejs') %>
</body>

</html>