<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painted Legions</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/guides">Guides</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <h1>Welcome to Painted Legions</h1>
</body>
</html>